<?xml version="1.0"?>

<robot name="freight" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="load_base" params="prefix">

      <!-- <xacro:include filename="$(find fetch_description)/robots/freight.urdf.xacro" /> -->
      <xacro:include filename="$(find gopher_description)/base/urdf/freight.urdf.xacro" />
      <xacro:load_base_urdf prefix="${prefix}"/>
  
  </xacro:macro>

</robot>
